//Background colors
$bgc_1:#fff;
$bgc_2:#0282f9;
$bgc_3:#000;
$bgc_4:#303030;
$bgc_5:#55ba59;
$bgc_6:#f6f6f6;

//Font-colors
$fnt_1: #003f5e;
$fnt_2: #777;
$fnt_3: #fff;
$fnt_4: #0282f9;
$fnt_5:#303030;
$fnt_6: #797979;

//Border Colors
$brd_1: #ddd;
$brd_2: #0282f9;
$brd_3: #fff;


//logo color
$color_logo: rgb(2, 130, 249, 0.5);

//Fonts

$font-amaranth: 'Amaranth', sans-serif;
$font-bebas: 'Bebas Neue', cursive;
$font-passion: 'Passion One', cursive;
$font-anton: 'Anton', sans-serif;
$font-poppins: 'Poppins', sans-serif;

//Font-size
$big: 34px;
$large: 26px;
$medium: 18px;
$normal: 16px;
$small: 14px;
$xs: 12px;

//Utility
.col-25{
    width: calc(100% / 4);
}
.col-50{
    width: calc(100% / 2);
}