//Background colors
$bgc_1: #fff;
$bgc_2: #0282f9;

//Font-colors
$fnt_1: #000;

//Border Colors
$brd_1: #ddd;


//Fonts

$font-amaranth: 'Amaranth', sans-serif;
$font-bebas: 'Bebas Neue', cursive;
$font-passion: 'Passion One', cursive;
$font-anton: 'Anton', sans-serif;
