@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Passion One", cursive;
  min-height: 100vh;
}

.container {
  width: 80%;
  height: 100%;
  max-width: 1170px;
  margin: auto;
}

#header .menu-top {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 100%;
  background: #0282f9;
}

#header .menu-top .menu-right {
  display: flex;
  width: 50%;
  height: 100%;
}

#header .menu-top .menu-right li {
  display: flex;
  width: calc(100% / 5);
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-right: 1px solid #fff;
  transform: skew(-15deg);
}

#header .menu-top .menu-right li a {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  transform: skew(15deg);
  font-size: 16px;
}

#header .menu-top .menu-right li a svg {
  width: 25px;
  height: 25px;
  fill: white;
  margin-right: 5px;
}

#header .menu-top .menu-right li:last-child {
  transform: skew(0deg);
}

#header .menu-top .menu-right li:last-child a {
  transform: skew(0deg);
}

#header .menu-bottom {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}

#header .menu-bottom .container {
  display: flex;
}

#header .menu-bottom .container .logo {
  display: flex;
  width: calc(100% / 12 * 3);
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

#header .menu-bottom .container .logo svg {
  width: 60px;
  height: 60px;
  fill: #0282f9;
}

#header .menu-bottom .container .navbar {
  display: flex;
  width: calc(100% / 12 * 6);
  height: 100%;
  justify-content: space-around;
}

#header .menu-bottom .container .navbar li {
  display: flex;
  align-items: center;
  list-style: none;
}

#header .menu-bottom .container .navbar li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #000;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

#header .menu-bottom .container .navbar li a:hover {
  border-bottom: 4px solid #0282f9;
}

#header .menu-bottom .container .navbar li .active {
  border-bottom: 4px solid #0282f9;
}

#header .menu-bottom .container .searchbar {
  display: flex;
  width: calc(100% / 12 * 3);
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

#header .menu-bottom .container .searchbar .wrapper {
  border-bottom: 2px solid #0282f9;
}

#header .menu-bottom .container .searchbar .wrapper input {
  max-width: 120px;
  border: none;
  font-family: "Bebas Neue", cursive;
  padding: 5px;
  font-size: 15px;
  text-transform: capitalize;
  text-align: right;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

.tag {
  position: absolute;
  background: #0282f9;
  color: #fff;
  font-family: "Bebas Neue", cursive;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}

#main {
  width: 100%;
}

#main #main-top {
  padding-bottom: 40px;
  background: #000;
  min-height: 400px;
}

#main #main-top .container {
  position: relative;
  height: auto;
}

#main #main-top .container .tag {
  transform: translate(0, -50%);
  top: 0;
  left: 0;
  font-size: 30px;
}

#main #main-top .container nav {
  width: 100%;
}

#main #main-top .container nav .menu-release {
  display: flex;
  width: 50%;
  height: 50px;
  margin-left: 50%;
  justify-content: flex-end;
}

#main #main-top .container nav .menu-release li {
  display: flex;
  align-items: center;
  list-style: none;
}

#main #main-top .container nav .menu-release li a {
  margin-right: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
}

#main #main-top .container nav .menu-release li a:hover {
  color: #0282f9;
}

#main #main-top .container nav .menu-release li .active {
  color: #0282f9;
}

#main #main-top .content {
  display: flex;
}

#main #main-top .content .card {
  position: relative;
  width: calc(100% / 5);
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: "Amaranth", sans-serif;
}

#main #main-top .content .card .tag {
  top: 0;
  left: 10px;
  font-size: 14px;
}

#main #main-top .content .card .cover {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

#main #main-top .content .card .cover img {
  width: 100%;
}

#main #main-top .content .card .title {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
}

#main #main-top .content .card .available {
  color: #0282f9;
}

#main #main-center {
  padding-top: 20px;
  padding-bottom: 40px;
  background: #fff;
  min-height: 400px;
}

