@import url(https://fonts.googleapis.com/css?family=Nunito);.col-25 {
  width: calc(100% / 4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Passion One", cursive;
  margin: 0;
  padding: 0;
  min-width: 1170px;
}

.container {
  width: 80%;
  height: 100%;
  max-width: 1170px;
  margin: auto;
}

#header .menu-top {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 100%;
  background: #0282f9;
}

#header .menu-top .menu-right {
  display: flex;
  width: 50%;
  height: 100%;
}

#header .menu-top .menu-right li {
  display: flex;
  width: calc(100% / 5);
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-right: 1px solid #fff;
  transform: skew(-15deg);
}

#header .menu-top .menu-right li a {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  transform: skew(15deg);
  font-size: 14px;
}

#header .menu-top .menu-right li a svg {
  width: 20px;
  height: 20px;
  fill: white;
  margin-right: 5px;
}

#header .menu-top .menu-right li:last-child {
  transform: skew(0deg);
}

#header .menu-top .menu-right li:last-child a {
  transform: skew(0deg);
}

#header .menu-bottom {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}

#header .menu-bottom .container {
  display: flex;
}

#header .menu-bottom .container .logo {
  display: flex;
  width: calc(100% / 12 * 3);
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

#header .menu-bottom .container .logo svg {
  width: 60px;
  height: 60px;
  fill: #0282f9;
}

#header .menu-bottom .container .navbar {
  display: flex;
  width: calc(100% / 12 * 6);
  height: 100%;
  justify-content: space-around;
}

#header .menu-bottom .container .navbar li {
  display: flex;
  align-items: center;
  list-style: none;
}

#header .menu-bottom .container .navbar li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #000;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

#header .menu-bottom .container .navbar li a:hover {
  border-bottom: 4px solid #0282f9;
}

#header .menu-bottom .container .navbar li .active {
  border-bottom: 4px solid #0282f9;
}

#header .menu-bottom .container .searchbar {
  display: flex;
  width: calc(100% / 12 * 3);
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

#header .menu-bottom .container .searchbar .wrapper {
  border-bottom: 2px solid #0282f9;
}

#header .menu-bottom .container .searchbar .wrapper input {
  max-width: 120px;
  border: none;
  font-family: "Bebas Neue", cursive;
  padding: 5px;
  font-size: 16px;
  text-transform: capitalize;
  text-align: right;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
  font-family: "Bebas Neue", cursive;
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}

h1 {
  font-size: 34px;
}

.tag {
  position: absolute;
  padding: 0.2em 0.5em;
  font-family: "Bebas Neue", cursive;
}

#main {
  width: 100%;
}

#main #main-top {
  padding-bottom: 40px;
  background: #000;
  min-height: 400px;
}

#main #main-top .container {
  position: relative;
  height: auto;
}

#main #main-top .container .tag {
  transform: translate(0, -50%);
  top: 0;
  left: 0;
  background: #0282f9;
  color: #fff;
}

#main #main-top .container nav {
  width: 100%;
}

#main #main-top .container nav .menu-release {
  display: flex;
  width: 50%;
  height: 50px;
  margin-left: 50%;
  justify-content: flex-end;
}

#main #main-top .container nav .menu-release li {
  display: flex;
  align-items: center;
  list-style: none;
}

#main #main-top .container nav .menu-release li a {
  margin-right: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
}

#main #main-top .container nav .menu-release li a:hover {
  color: #0282f9;
}

#main #main-top .container nav .menu-release li .active {
  color: #0282f9;
}

#main #main-top .content {
  display: flex;
}

#main #main-top .content .card {
  position: relative;
  width: auto;
  height: 100%;
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  padding: 0 10px;
}

#main #main-top .content .card .cover {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

#main #main-top .content .card .cover img {
  width: 100%;
}

#main #main-top .content .card .title {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

#main #main-top .content .card .available {
  color: #0282f9;
  font-family: "Poppins", sans-serif;
}

#main #main-top .content .card .tag {
  top: 0;
  left: 10px;
  font-size: 14px;
  background: #0282f9;
  color: #fff;
}

#main #main-center {
  min-height: 400px;
  padding: 40px 0;
  background: #fff;
}

#main #main-center .container {
  display: flex;
  padding-top: 40px;
}

#main #main-center .container .card {
  position: relative;
  width: calc(100% / 4);
  height: 100%;
  font-family: "Bebas Neue", cursive;
  padding: 0 10px;
}

#main #main-center .container .card .tag {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #0282f9;
  font-size: 34px;
  transform: translate(0, -50%);
  top: -40px;
  left: 0;
  text-align: center;
}

#main #main-center .container .card .cover {
  margin-bottom: 5px;
}

#main #main-center .container .card .cover img {
  width: 100%;
}

#main #main-center .container .card .advertise {
  color: #0282f9;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#main #main-center .container .card .title {
  display: block;
  color: #000;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#main #main-center .container .card .description {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

#main #main-bottom {
  min-height: 400px;
  background: #000;
}

#main #main-bottom .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  padding-top: 60px;
  padding-bottom: 20px;
}

#main #main-bottom .container .tag {
  transform: translate(0, -50%);
  top: 0;
  left: 0;
  background: #0282f9;
  color: #fff;
}

#main #main-bottom .container .card {
  width: calc(100% / 6);
  height: auto;
  text-transform: uppercase;
  padding: 0 10px;
  margin-bottom: 40px;
}

#main #main-bottom .container .card .cover {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#main #main-bottom .container .card .cover img {
  width: 100%;
}

#main #main-bottom .container .card .title {
  display: block;
  color: #fff;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

#footer {
  width: 100%;
  background: #0282f9;
}

#footer #footer-top {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 200px;
}

#footer #footer-top .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer #footer-top .container a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

#footer #footer-top .container a i {
  font-size: 45px;
  margin-right: 20px;
}

#footer #footer-center {
  position: relative;
  z-index: 0;
  background: #000;
  background-size: cover;
  padding: 40px 0;
}

#footer #footer-center .background-logo {
  position: absolute;
  right: 5%;
  top: -20%;
  z-index: 1;
}

#footer #footer-center .background-logo svg {
  transform: rotate(-25deg);
  fill: rgba(2, 130, 249, 0.5);
  height: 600px;
}

#footer #footer-center .container .menu-container {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
}

#footer #footer-center .container .menu-container .menu {
  margin-bottom: 10px;
}

#footer #footer-center .container .menu-container .menu li {
  list-style: none;
  line-height: 1.5;
}

#footer #footer-center .container .menu-container .menu li a {
  text-decoration: none;
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}

#footer #footer-center .container .menu-container .menu .title {
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 10px;
}

#footer #footer-center .container .terms-of-use {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #777;
  font-weight: 500;
}

#footer #footer-center .container .terms-of-use a {
  color: #0282f9;
  text-decoration: none;
}

#footer #footer-bottom {
  position: relative;
  z-index: 2;
  min-height: 150px;
  background: #303030;
}

